{%- comment %}

  Article Card
  ------------------------------------------------------------------------------

  Usage:

  {% render 'article-card',
             article: { article } - required
  %}

{% endcomment -%}

{% if article %}
  <a href="{{ article.url }}" class="article-card">
    <div class="article-card__frame">
      <div class="article-card__frame">
        {%- liquid
          assign alt_text =  article.image.alt | default: article.title | escape

          capture image_widths
            render 'image-widths', max_width: 900
          endcapture
        -%}

        {{
          article.image
          | image_url: width: 900
          | image_tag:
            widths: image_widths,
            alt: alt_text,
            class: 'lazy-image'
        }}
      </div>
    </div>
    
    <div class="article-card__meta">{{- article.published_at | time_tag: format: 'date' -}}</div>
    <div class="article-card__title">{{ article.title }}</div>
  </a>
{% endif %}