{%- comment %}

  Cart Item Price
  ------------------------------------------------------------------------------

  Usage:

  {% render 'cart-item-price',
             item: { cart.items[] } - required
  %}

{% endcomment -%}

{% if item != empty %}
  {% comment %} @TODO - Update this to work with discounted prices {% endcomment %}
  <div class="ajax-cart__item-price" data-price>
    {% comment %} {%- if item.original_line_price != item.final_line_price -%}
      <span>
        <span class="sr-only">
          {{ 'products.product.price.regular_price' | t }}
        </span>
        <s data-price-original>{{ item.original_line_price | money }}</s>
      </span>
    {%- endif -%} {% endcomment %}
    
    <span>
      <span class="sr-only">
        {{ 'products.product.price.price' | t }}
      </span>
      <span data-price-final>{{ item.final_price | money }}</span>
    </span>
  </div>
{% endif %}
