{%- comment %}

  Graphic Cover
  ------------------------------------------------------------------------------

  Usage:

  {% render 'graphic-cover',
             image: { image } - optional
             image_mobile: { image } - optional
             video: { video } - optional
             loading: { string } - optional
  %}

{% endcomment -%}

<div class="graphic-cover">
  {% if video != nil %}
    {{ video | video_tag: muted: true, playsinline: true, autoplay: true, loop: true, class: "ambient-video" }}
  {% endif %}

  {% if image != blank %}
    {% render 'image-responsive'
              image: image,
              image_mobile: image_mobile
    %}
  {% endif %}
</div>