{% # theme-check-disable DeprecateLazysizes %}

{%- comment %}

  Product Detail Gallery Item
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-detail-gallery-item',
             image: { image } - required
  %}

{% endcomment -%}

{% if image != blank %}
  {%- liquid
    assign loading = 'lazy'

    capture main_image_widths
      render 'image-widths', max_width: 900
    endcapture
  -%}

  <div class="product-detail-gallery__item">
    {{
      image
      | image_url: width: 1200
      | image_tag:
        loading: loading,
        widths: main_image_widths,
        sizes: '(max-width: 1024px) 100vw, (max-width: 1920px) 50vw, 900px',
        alt: image.alt,
        class: 'lazy-image'
    }}
  </div>     
{% endif %}
