{% doc %}
  Product Detail Gallery Slide
  ====================================

  @param {image} image - The image to display - required
  @param {string} [loading] - The loading attribute value - optional, defaults to 'lazy'

  @example
    {% render 'product-detail-gallery-slide', image: product.images[0], loading: 'eager' %}
{% enddoc %}

{% if image != blank %}
  {%- liquid
    assign loading = loading | default: 'lazy'
    
    capture main_image_widths
      render 'image-widths', max_width: 1100
    endcapture
  -%}
  
  <div
    class="relative aspect-square embla__slide"
    role="group"
    aria-roledescription="slide"
  >
    {{
      image
      | image_url: width: 720
      | image_tag:
        loading: loading,
        widths: main_image_widths,
        sizes: '100vw',
        alt: image.alt,
        class: 'h-full w-full object-contain lazy-image'
    }}
  </div>     
{% endif %}
