<div
  class="option-value-list"
  data-option-position="{{ option.position }}"
  data-variant-option-value-list
>
  {% for value in option.values %}

    {% comment %} If the product only has one option (like size) then we can show values as sold out by checking the variant for that option {% endcomment %}
    {%- liquid
      assign is_disabled = false
      assign is_selected = false

      if can_show_sold_out_ui_for_option
        for v in product.variants
          assign variant_option_prop = 'option' | append: option.position

          if v[variant_option_prop] == value and v.available == false
            assign is_disabled = true
          endif
        endfor
      endif

      if option_is_color and forloop.index0 == 0
        assign is_selected = true
      endif
    -%}

    <span
      class="option-value{% if is_disabled %} is-disabled {% elsif is_selected %} is-active{% endif %}" data-variant-option-value="{{ value }}"
      {% if is_disabled %} disabled="disabled" aria-disabled="true"{% endif %}
      role="button"
    >
      {{ value }}
    </span>
  {% endfor %}
</div>      