{%- comment %}
  Product Detail Expander Group
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-detail-expander-group',
             description_content: { string }
  %}

{% endcomment -%}

{%- capture details_content -%}
  {% comment %} Fill this out if needed... {% endcomment %}
{%- endcapture -%}

{%- capture measurements_content -%}
  {% comment %} Fill this out if needed... {% endcomment %}
{%- endcapture -%}  

<div class="pdf-expander-group expander-group" data-expander-group>
  {%- liquid
    render 'expander' id: 'pdf-expander-group-description', title: 'Description', content: description_content

    if details_content != blank
      render 'expander' id: 'pdf-expander-group-details', title: 'Details', content: details_content
    endif 

    if measurements_content != blank
      render 'expander' id: 'pdf-expander-group-measurements', title: 'Measurements', content: measurements_content
    endif     
  %}     
</div>