@import 'core/mixins';
@import 'core/css-variables'; // Must come after mixins
@import 'core/normalize';
@import 'core/reboot';
@import 'core/typography';
@import 'core/helpers';
@import 'core/forms';
@import 'core/buttons';
@import 'core/pills';
@import 'core/layout';
@import 'core/grid';
@import 'core/tables';
@import 'core/rte';

.image-responsive {
  object-position: var(--object-position-mobile, 50% 50%);

  @include bp-up(lg) {
    object-position: var(--object-position-desktop, 50% 50%);
  }
}

// Lazy images
img.lazy-image {
  transition: var(--lazy-image-transition);

  opacity: 0;

  &.no-fade {
    --lazy-image-transition-duration: 0s;
  }

  &.is-loaded {
    opacity: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    & {
      transition: none !important;
    }
  }
}