@use 'variables' as *;

@use 'core/typography';
@use 'core/pills';
@use 'core/layout';
@use 'core/rte';
@use 'core/tables';
@use 'core/buttons';
@use 'core/swatches';
@use 'core/forms';

.container {
  @apply w-full px-container mx-auto;
}

.image-responsive {
  object-position: var(--object-position-mobile, 50% 50%);

  @media (min-width: $bp-lg) {
    object-position: var(--object-position-desktop, 50% 50%);
  }
}

// Lazy images
img.lazy-image {
  transition: var(--lazy-image-transition);

  opacity: 0;

  &.no-fade {
    --lazy-image-transition-duration: 0s;
  }

  &.is-loaded {
    opacity: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    & {
      transition: none !important;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.overflow-scroll {
  -webkit-overflow-scrolling: touch;
}