// Uncomment these to enable tailwind!
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'core';
@import 'components';
@import 'templates';

// @layer base {
  html {
    &:not(.is-theme-editor) {
      scroll-behavior: smooth;
    }
  }

  html.js {
    @media (prefers-reduced-motion: no-preference) {
      body {
        &.is-loading {
          opacity: 0;
          transition: opacity 1s cubic-bezier(0.33, 0.01, 0.49, 1.02) 0.25s;
        }
      
        &.is-loaded {
          opacity: 1;
        }
      }
    }
  }
// }

.container {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
