.ajax-cart {
  --ajax-cart-padding-h: 33px;
  --ajax-cart-inner-padding-h: 14px;
  --ajax-cart-padding-v: 25px;
  --z-body: 1;
  --z-footer: 2;
  --z-empty: 4;
  --z-header: 5;

  @apply fixed z-ajax-cart top-0 right-0 h-screen w-full max-w-[min(90vw,500px)] bg-white translate-x-full;

  pointer-events: none;
  transition: var(--transition-drawer-out);

  &.is-open {
    @apply translate-x-0;
    transition: var(--transition-drawer-in);
    pointer-events: auto;
  }

  form {

  }
}

.ajax-cart__header {
  @apply relative flex items-center justify-end;

  z-index: var(--z-header);  
  height: var(--header-height);

  padding: 0 calc(var(--ajax-cart-padding-h) + var(--ajax-cart-inner-padding-h));
}

.ajax-cart__body {
  @apply relative;

  z-index: var(--z-body);  
  padding: 0 var(--ajax-cart-padding-h) var(--ajax-cart-padding-v);
}

.ajax-cart__item {
  &.is-being-removed {
    cursor: not-allowed;
  }  
}

.ajax-cart__item-inner {
  @apply flex gap-x-4;
  padding: 20px var(--ajax-cart-inner-padding-h);

  transition: opacity 250ms ease-in-out;

  .is-removing &,
  .is-updating & {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.ajax-cart__item-image-frame {

}

.ajax-cart__item-image {
  @apply relative w-[100px] aspect-square;

  img {
    @apply h-full w-full object-contain;

    &.is-cached {
      transition: none;
    }
  }
}

.ajax-cart__item-info {
  @apply flex-1 flex flex-col justify-between gap-y-4 pt-0.5;
}

.ajax-cart__item-header {
  @apply flex justify-between;
}

.ajax-cart__item-remove {
  @apply uppercase underline;
}

.ajax-cart__footer {
  @apply sticky bottom-0 flex flex-col gap-y-5;
  z-index: var(--z-footer);  
  padding: 0 var(--ajax-cart-padding-h) var(--ajax-cart-padding-v);
}

.ajax-cart__footer-row {
  padding: 0 var(--ajax-cart-inner-padding-h);
}

.ajax-cart__total-price {

}

.ajax-cart__empty {
  @apply absolute top-0 left-0 h-full w-full flex flex-col justify-center bg-white;
  z-index: var(--z-empty);  

  /* @TODO...something about this inner padding? */
  padding: 0 calc(var(--ajax-cart-padding-h) + var(--ajax-cart-inner-padding-h));

  @apply opacity-0 pointer-events-none;
  transition: opacity 100ms ease-out;

  .is-empty & {
    @apply opacity-100 pointer-events-auto;
    transition-duration: 0.4s;
  }
}

.ajax-cart__empty-text {
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  .is-empty & {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
  }
}
