.article-content {
  // Default spacing between elements is a little larger here...
  p {
    margin-bottom: 1.5rem;
  }

  img {
    margin: 1.5em 0;
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  h1, h2 {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;    
  }

  h3, h4 {
    margin-bottom: 20px;
  }

  h5, h6 {
    margin-bottom: 20px;
  }
}
