/* Use a class instead of the bare element to avoid clashing with 3rd party libs */
.footer {
  --grid-column-gap: 4vw;

  @apply py-10;

  /* These are the footer section headings */
  h3 {
    @apply mb-6 text-2xl uppercase;
  }
}

.footer-menu {
  @apply mt-4 lg:mt-2;

  ul {
    @apply flex flex-col flex-wrap gap-y-2;
  }

  a {
    &[aria-current="page"] {
      @apply underline;
    }
  }  
}
