$footer-grid-bp: 'lg';

// Use a class instead of the bare element to avoid clashing with 3rd party libs
.footer {
  --grid-column-gap: 4vw;
  
  padding: 55px 0 55px;
  background-color: var(--footer-bg);

  @include bp-up($footer-grid-bp) {
    padding: 87px 0 40px;
  }

  @include bp-up(xl) {
    padding-top: 64px;
  }

  @include bp-up(xxxl) {
    --grid-column-gap: 185px; // Footer hits max width above this breakpoint so no need for this var to be responsive
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.5em;
    }

    a {
      &[aria-current="page"] {
        text-decoration: underline;
      }
    }
  }  
}

.footer-title {
  margin-bottom: var(--spacing-20);
  font-size: 25px;
  text-transform: uppercase;
}

.footer-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: var(--grid-column-gap);
  row-gap: 37px;
  grid-template-areas:
    'newsletter'
    'socials'
    'menus'
    'copyright';

  @include bp-up($footer-grid-bp) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 71px;
    grid-template-areas:
      'newsletter socials'
      'menus menus'
      '. copyright';
  }

  @include bp-up(xxxl) {
    max-width: 1250px;
    margin: 0 auto;
  }
}

.footer-area {
  &__newsletter {
    grid-area: newsletter;
  }

  &__socials {
    grid-area: socials;
  }

  &__menus {
    grid-area: menus;
  }

  &__copyright {
    grid-area: copyright;
    text-align: center;

    @include bp-up($footer-grid-bp) {
      text-align: left;
    }
  }
}

.footer-menu {
  @include bp-up(lg) {
    margin-top: 14px;
  }

  @include bp-up(lg) {
    margin-top: 5px;
  }

  &__title {
    margin-bottom: 13px;
    

    @include bp-up(xl) {
      margin-bottom: 8px;
    }
  }  

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  &--socials {
    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: var(--grid-column-gap);

      @include bp-up(lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 16px;
      }

      @include bp-up(xl) {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
      }
    }
  }
}

.footer-menus {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--grid-column-gap);
  row-gap: 37px;

  @include bp-up($footer-grid-bp) {
    grid-template-columns: repeat(var(--menu-count), minmax(0, 1fr));
  }
}