.graphic-cover {
  &, img, video {
    @include fill;
    pointer-events: none;
  }

  img, video {
    object-fit: cover;
  }
  
  img {
    z-index: 1;
  }

  video {
    z-index: 2;
  }

  video {
    opacity: 0;
    transition: var(--transition-image-in); 
  
    &.is-ready {
      opacity: 1;
    }
  }  
}