@import 'header/nav';

header.header {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: rgba(219, 219, 219, 0.5);
  backdrop-filter: blur(15px);

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.5em;
    }

    a {
      &[aria-current="page"] {
        text-decoration: underline;
      }
    }
  }
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: var(--header-logo-width);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cart-count {
  position: absolute;
  top: 15px;
  right: -10px;
  opacity: 0;

  .has-items & {
    opacity: 1;
  }
}