// -------------------------
// Newsletter Form
// -------------------------

$t-d-start: 400ms;
$t-d-end: 500ms;

.newsletter-form-contents {
  @apply relative;
}

.newsletter-form-inputs {
  transition: opacity $t-d-end ease-out;
  transition-delay: $t-d-start;
}

.newsletter-form-message {
  @apply absolute inset-0 z-1 flex items-center opacity-0 pointer-events-none;

  transition: opacity $t-d-start ease-out;
  transition-delay: 0ms;
}

.newsletter-form-contents.show-message {
  .newsletter-form-inputs {
    @apply opacity-0 pointer-events-none;

    transition: {
      duration: $t-d-start;
      delay: 0ms;
      timing-function: ease-in;
    }
  }

  .newsletter-form-message {
    @apply opacity-100 pointer-events-auto;

    transition: {
      duration: $t-d-end;
      delay: $t-d-start;
      timing-function: ease-out;
    }
  }
}