@import 'page/hero';

.page-content-column {
  grid-column: 1 / -1;

  @include bp-up(lg) {
    grid-column: 3 / 9;
  }

  @include bp-up(xl) {
    grid-column: 4 / 8;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 13px;
  // align-items: center;
  margin: 130px 0 40px;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__subtitle {
    font-weight: var(--font-medium);
  }
}
