.product-detail-gallery {
  @apply mb-5 lg:mb-0;

  display: none;

  &[aria-current="true"] {
    display: block;
  } 

  .product-detail-gallery__list {
    @apply hidden flex-col gap-y-3 lg:flex;
  }


  /* Slideshow on mobile */
  .product-detail-gallery__slideshow {
    @apply lg:hidden;
  }

  .embla {
    
  }

  .embla__viewport {
    @apply relative w-full overflow-hidden;
  }   
}

.product-detail-form {
  padding: 0 clamp(30px, 10px + 3.9vw, 80px);
}
