.product-detail-gallery {
  @apply mb-5 lg:mb-0;

  display: none;

  &[aria-current="true"] {
    display: block;
  }

  .swiper-container {
    @apply relative w-full overflow-hidden lg:hidden;
  }  

  .product-detail-gallery__list {
    @apply hidden flex-col gap-y-3 lg:flex;
  }
}

.product-detail-form {
  padding: 0 clamp(30px, 10px + 3.9vw, 80px);
}
