:root {
  --color-black: #000;
  --color-gray:  #CCC;
  --color-white: #FFF;
  --color-red: #F00;

  --color-body: var(--color-white);
  --color-text: var(--color-black);

  // Container gutter
  --gutter: 30px;

  @include bp-up(md) {
    --gutter: 60px;
  }

  @include bp-up(xxxl) {
    --gutter: 100px;
  }

  // Site Grid
  --grid-column-gap: 10px;

  --layout-vertical-padding: 60px;

  @include bp-up(md) {
    --layout-vertical-padding: 100px;
  }


  // Z Index Stack
  --z-header: 100; 
  --z-mobile-menu: 110;
  --z-ajax-cart: 200;
  --z-skip-to: 10000;

  --transition-drawer-in: transform 600ms cubic-bezier(0.34, 0.38, 0, 1);
  --transition-drawer-out: transform 450ms cubic-bezier(0.51, 0.22, 0.12, 1);
  --transition-backdrop-in: opacity 450ms cubic-bezier(0.48, 0.19, 0.15, 0.8);
  --transition-backdrop-out: opacity 400ms cubic-bezier(0.42, 0, 0.51, 0.79);
  --transition-image-in: opacity cubic-bezier(0.42, 0.33, 0.21, 0.82) 0.32s;

  --btn-radius: 8px;
  --btn-bg-color: transparent;
  --btn-border-color: var(--color-black);
  --btn-color: var(--color-black);
  --btn-active-bg-color: var(--color-gray);
  --btn-active-color: var(--color-white);
  --btn-active-border-color: var(--color-gray);

  --btn-primary-bg-color: var(--color-red);
  --btn-primary-border-color: var(--color-red);
  --btn-primary-color: var(--color-white);
  --btn-primary-active-bg-color: var(--color-white);
  --btn-primary-active-color: var(--color-red);
  --btn-primary-active-border-color: var(--color-red);
  

  --pill-height: 30px;
  --pill-border-color: var(--color-gray);
  --pill-bg-color: var(--color-gray);
  --pill-color: var(--color-black); // ?? Color text?  

  --drawer-bg-color: var(--color-white);
  --backdrop-color: var(--color-black);
  --backdrop-opacity: 0.6;

  --header-height: 65px;
  --header-logo-width: 110px;
  --header-color: var(--color-black);
  --header-bg-color: var(--color-gray);  

  @include bp-up(xl) {
    --header-logo-width: 140px;
  }

  --footer-bg: #DDD;
}
