@use 'sass:math';

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: var(--color-gray);
}

.text-uppercase {
  text-transform: uppercase;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// -------------------------
// Helper Classes
// -------------------------

.visually-hidden {
  @include visually-hidden();
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden();

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown();
  }
}

.visually-shown {
  @include visually-shown();
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}


/*============================================================================
  Skip to content button
    - Overrides .visually-hidden when focused
==============================================================================*/
.skip-link:focus {
  @include visually-shown(absolute);
  color: var(--color-text);
  background-color: var(--color-body);
  padding: 15px;
  z-index: var(--z-skip-to);
  transition: none;
}
