// -------------------------
// Page Layout
// -------------------------

// Use this as the only direct child of main#MainContent on pages where you don't want the content flush to the header and footer
// Or use the modifier classes to get flush on top or bottom
.layout-content-wrapper,
.shopify-challenge__container {
  padding: var(--layout-vertical-padding) 0;
}
