{%- liquid
  assign product_count = 0
  assign product_source = section.settings.collection.products

  if section.settings.source == 'product_list'
    assign product_source = section.settings.product_list
  endif

  capture product_grid_items
    for product in product_source
      render 'product-card', product: product

      assign product_count = product_count | plus: 1
    endfor
  endcapture
%}

<section
  data-section-id="{{ section.id }}"
  data-section-type="featured-products"
>
  {% if section.settings.title != blank %}
    {%- capture actions -%}
      {% if section.settings.cta_title and section.settings.cta_url %}
        <a href="{{ section.settings.cta_url }}" class="btn">
          {{ section.settings.cta_title }}
        </a>
      {% endif %}
    {%- endcapture -%}

    <div class="container">
      {% render 'section-header',
                 title: section.settings.title,
                 subtitle: section.settings.subtitle,
                 actions: actions
      %}
    </div>
  {% endif %}

  <div class="container">
    <div class="product-grid">
      {{ product_grid_items }}
    </div>
  </div>
</section>  

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"  
    },    
    {
      "type": "header",
      "content": "Call To Action"
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Title",
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "select",
      "id": "source",
      "label": "Source",
      "options": [
        {
          "value": "collection",
          "label": "Collection"
        },
        {
          "value": "product_list",
          "label": "Product List"
        }        
      ],
      "default": "collection"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product List"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "settings": {
        "title": "Featured Products",
        "subtitle": "Shop the latest products on our store.",
        "source": "collection",
        "collection": "frontpage"
      }
    }
  ]
}
{% endschema %}