<div class="container">
  {% render 'section-header',
            title: 'Page Not Found',
            title_tag: 'h1'
  %}

  <div class="mx-auto" style="max-width: 600px;">
    <div class="text-center">
      <p>The page you're looking for does not exist.</p>
      <p><a href="{{ routes.root_url }}" class="btn">Go Back Home</a>.</p>
    </div>
  </div>
</div>
