{%- liquid
  assign current_variant = product.selected_or_first_available_variant
%}

<div data-section-id="{{ section.id }}" data-section-type="product">
  <div class="lg:flex">
    <div class="lg:flex-1">
      {% render 'product-detail-gallery',
                 product: product,
                 current_variant: current_variant
      %}
    </div>

    <div class="lg:flex-1">
      {% render 'product-detail-form',
                 product: product,
                 current_variant: current_variant
      %}
    </div>
  </div>

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</div>

{% schema %}
{
  "name": "Product - Main",
  "settings": [

  ]
}
{% endschema %}
