<h1>Reset Password</h1>

{% form 'reset_customer_password' %}

  {% comment %} <p>Enter a new password for {{ email }}</p> {% endcomment %}

  <p>{{ form.errors | default_errors }}</p>
  
  <fieldset class="form-group{% if form.errors contains 'password' %} has-error{% endif %}">
    <label for="ResetPassword">Password</label>
    <input type="password" value="" name="customer[password]" id="ResetPassword" class="form-control">
  </fieldset>
  
  <fieldset class="form-group{% if form.errors contains 'password_confirmation' %} has-error{% endif %}">
    <label for="password-confirmation">Confirm Password</label>
    <input type="password" value="" name="customer[password_confirmation]" id="password-confirmation" class="form-control">
  </fieldset>

  <p>
    <input type="submit" class="btn btn-block btn-primary" value="Submit">
  </p>

{% endform %}